<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <typeAliases>
        <!-- user -->
        <typeAlias alias="userRequestDTO" type="com.example.demo.user.domain.UserRequestDTO" />
        <typeAlias alias="userResponseDTO"  type="com.example.demo.user.domain.UserResponseDTO" />

        <!-- board -->
        <typeAlias alias="boardResponseDTO"  type="com.example.demo.board.domain.BoardResponseDTO" />
        <typeAlias alias="userboardResponseDTO"  type="com.example.demo.board.domain.UserBoardResponseDTO" />
    </typeAliases>
</configuration>